@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding for smaller screens */
}

header h2 {
    color: #08b121;
    text-align: center;
}

img {
    max-width: 75px; /* Make the image responsive */
}

.prod {
    max-width: 100%; /* Adjust width for responsiveness */
}

.hef {
    text-decoration: none;
    color: #08b121;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #08b121;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 10px; /* Adjust padding for smaller screens */
}

.navigation a:hover {
    color: #0d7002;
}

section {
    padding: 100px 20px; /* Adjust padding for smaller screens */
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("https://wallpapers.net/green-leaves-hd-wallpaper/download/5120x2160.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    animation: pulsate 2s ease-in-out infinite;
    transform-origin: center;
    display: inline-block;
    margin-top: 10px;
    color: #08b121;
    font-size: 3em;
    font-weight: 600;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    img {
        max-width: 50px; /* Adjust image size for smaller screens */
    }

    .main h2 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    .main h2 span {
        font-size: 2.5em; /* Adjust font size for smaller screens */
    }
}

/* Add more media queries and responsive styles as needed for different screen sizes */

